<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
    <title>{{ user.username }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="menu">
            {% if user.is_authenticated %}
                <a href="{% url 'post_list' %}" class="blogmenu">Home</a>
                <a href="{% url 'user_posts' request.user.username %}">My Posts</a>
                <a href="{% url 'create_post' %}">Create New Post</a>
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="blogmenu">Login</a>
                <a href="{% url 'register' %}">Register</a>
                <a href="{% url 'post_list' %}">Home</a>
            {% endif %}
        </nav>
        <div class="container about-user">
            <div>
                <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                <h2>{{ user.username }}</h2>
                <p>Date joined: {{ user.date_joined }}</p>
                <p>Email: {{ user.email }}</p>
                <p>Birth Date: {{ user.birth_date }}</p>
                <p>Location: {{ user.location }}</p>
                {% if user == request.user %}
                  <a href="{% url 'edit_profile' %}">Edit Profile</a>
                {% endif %}
                <div class="user-posts">
                  <ul>
                    <li><a href="{% url 'user_posts' user.username %}">See all posts</a></li>
                  </ul>
                </div>
            </div>
            {% if user.profile_photo %}
              <img src="{{ user.profile_photo.url }}" alt="Profile photo">
            {% else %}
              <p>No profile photo</p>
            {% endif %}
        </div>
    </header>

    <section class="section-posts">
        <div class="container">
            <h2>Bio</h2>
            <p>{{ user.bio }}</p>
        </div>
    </section>


</body>

</html>