<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
    <title>{{ user_profile.username }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="menu">
            {% if user.is_authenticated %}
                <a href="{% url 'post_list' %}" class="blogmenu">Home</a>
                <a href="{% url 'user_profile' request.user.username %}">My Profile</a>
                <a href="{% url 'user_posts' request.user.username %}">My Posts</a>
                <a href="{% url 'create_post' %}">Create New Post</a>
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="blogmenu">Login</a>
                <a href="{% url 'register' %}">Register</a>
                <a href="{% url 'post_list' %}">Home</a>
            {% endif %}
        </nav>
        <div class="container about-user">
            <div>
                <h3>{{ user_profile.first_name }} {{ user_profile.last_name }}</h3>
                <h3><strong>Username:</strong> <a href="{% url 'user_profile' user_profile.username %}">{{ user_profile.username }}</a></h3>
                <p><strong>Date of Birth:</strong> {{ user_profile.birth_date }}</p>
                <p><strong>Location:</strong> {{ user_profile.location }}</p>
            </div>
            {% if user_profile.profile_photo %}
              <img src="{{ user_profile.profile_photo.url }}" alt="{{ user_profile.username }}'s photo">
            {% endif %}
        </div>
    </header>

    <div class="container">
        <h2>{{ user_profile.username }}'s Posts</h2>
        {% for post in posts %}
        <div class="headtext">
            <a href="{% url 'post_detail' pk=post.pk %}">
            {% if post.image %}
              <img src="{{ post.image.url }}" class="card-img-top"></a>
            {% endif %}
            <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
            <span class="dates">{{ post.published_date }}</span>
            <span class="semi"><a href="{% url 'user_profile' username=post.owner.username %}">{{ post.owner.username }}</a></span>
            <p>{{ post.short_description }}</p>
        </div>
        {% endfor %}
    </div>
    <footer>
      {% if is_paginated %}
        <nav class="pagination">
          <span class="pagination__prev {% if not page_obj.has_previous %}pagination__prev--disabled{% endif %}">
            {% if page_obj.has_previous %}
              <a href="?page={{ page_obj.previous_page_number }}">&lt; Prev</a>
            {% else %}
              &lt; Prev
            {% endif %}
          </span>
          <span class="pagination__next {% if not page_obj.has_next %}pagination__next--disabled{% endif %}">
            {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">Next &gt;</a>
            {% else %}
              Next &gt;
            {% endif %}
          </span>
        </nav>
      {% endif %}
    </footer>
</body>
</html>